<div class="row">
  <div class="span6">
    {{#each post in posts}}
    <div class="row">
      <div class="span2">
        <img {{bindAttr src="post.link.image_small"}}></img>
        <small>{{post.user.username}}</small>
      </div>
      <div class="span3">
        <div class="special">
          <a href="#" {{action testFoo post.link target="parentView"}}>
            {{post.link.title}}
          </a>
          <p>{{post.link.brief}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="span6">
    <div class="affix">
      <h3>{{link.title}}</h3>
      <iframe width="560" height="315" {{bindAttr src="link.videoUrl"}} frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
